header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.up{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logo{

display: flex;
height: 60%;
}